@import '../../Styles/Variables/Variables.scss';

.cta {
    background: $accent-clr;
    color: $primary-clr;
    display: inline-block;
    border-radius: 2px;
    text-transform: capitalize;
    font-family: $headerFont;
    padding: 0.8rem 1.2rem;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 700;
    outline: none;
}