/* color vars */
/* font vars */
@font-face {
  font-family: "Cormorant Upright", serif;
  src: url(/src/assets/fonts/CormorantUpright-Medium.ttf);
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(/src/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: "Bestermind";
  src: url(/src/assets/fonts/BestermindRegular.ttf);
}
/* color vars */
/* font vars */
@font-face {
  font-family: "Cormorant Upright", serif;
  src: url(/src/assets/fonts/CormorantUpright-Medium.ttf);
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(/src/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: "Bestermind";
  src: url(/src/assets/fonts/BestermindRegular.ttf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease 0.2;
}

html {
  font-size: 62.5%;
}

a, p, span {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

h2 {
  font-size: clamp(0.8rem, 5vw, 1.8rem);
}

h1 {
  font-size: clamp(1rem, 5vw, 5rem);
}

p {
  font-size: clamp(0.5rem, 3vw, 1.6rem);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Upright", serif;
  color: #DCCA87;
  text-transform: capitalize;
}

section,
header,
footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 4.6rem 4.6rem 4.6rem;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #040404;
  background-size: cover;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.menu .menu__section {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0rem;
}
.menu .menu__section-header {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.menu .menu__section-header h4 {
  color: #ffffff;
  padding: 0.4rem 0;
  font-size: 1.2rem;
  text-align: center;
}
.menu .menu__section-header img {
  margin: 0 auto;
}
.menu .menu__section-header h3 {
  padding: 0.4rem 0;
  font-size: 3.2rem;
  text-align: center;
}
.menu .menu__section-img img {
  height: 450px;
}
.menu .menu__section-main {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 5rem;
  margin: 2.4rem;
}
.menu .menu__section-main aside li {
  padding: 1rem 0;
}
.menu .menu__section-main aside li .item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
}
.menu .menu__section-main aside li .item .line {
  width: 55px;
}
.menu .menu__section-main aside h2 {
  font-size: 2.4rem;
  color: #ffffff;
  text-align: center;
  padding: 1.8rem 0;
}
.menu .menu__section-main aside h6 {
  color: #AAAAAA;
  font-size: 1rem;
  padding: 0.4rem 0;
}
.menu .menu__section-main aside h3 {
  font-size: 1.6rem;
}
.menu .menu__section-main aside h3 span {
  font-size: 2rem;
  font-family: "Cormorant Upright", serif;
  font-weight: 400;
}/*# sourceMappingURL=menu.css.map */