@import "../../Styles/Variables/Variables";
@import "../../Styles/reset";

.menu{
    @include flex;
    justify-content:center;
    margin: 0 auto;
    background: $secondary-clr;
    background-size: cover;
    max-height: fit-content;

    .menu__section {
        margin: 4rem;
        @include section-flex ($direction:column, $gap:0rem);
        

        &-header {
            display: grid;
            justify-content: center;
            align-items: center;
            padding: 3rem;

            h4 {
                color: $white-clr;
                padding: 0.4rem 0;
                font-size: 1.2rem;
                text-align: center;
            }

            img {
                margin: 0 auto;
            }

            h3 {
                padding: 0.4rem 0;
                font-size: 3.2rem;
                text-align: center;
            }
        }

        &-img {
            img {
               height: 450px;
            }
        }

        &-main {
            @include section-flex;
            margin: 2.4rem;

            aside {

                li {
                    padding: 1rem 0;


                    .item{
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr;
                    gap: 1rem;
                   align-items: center;
                    
                

                    .line {
                        width: 55px;
                    }
                }

                }

                h2 {
                    font-size: 2.4rem;
                    color: $white-clr;
                    text-align: center;
                    padding: 1.8rem 0;
                }

                h6 {
                    color: $tetiary-clr;
                    font-size: 1rem;
                    padding: 0.4rem 0;
                }

                h3 {
                    font-size: 1.6rem;

                    span {
                        font-size: 2rem;
                        font-family: $headerFont;
                        font-weight: 400;
                    }
                }
            }


        }
    }
}

@media (max-width: 778px) {
    .menu__section{
             @include section-flex;
             background-color: aqua;
            
    }
}