@import '../../Styles/Variables/Variables';
@import '../../Styles/reset';

.header {
    background: $primary-clr;
    @include flex;

    &__logo {
            text-transform: uppercase;
            font-family: $headerFont;
            font-size: 2.8rem;
            padding: 0 4.6rem;
        }

    &__nav {
        padding: 2rem 4rem;
        @include flex;
        flex-grow: 1;
        margin-left: auto;

        &-items,
        &-items2
         {
            @include flex;
           margin-left: auto;
        }

         &-item {
            padding-right: 2.0rem;
            font-size: 1.6rem;

        }

        &-link:hover {
                color: $accent-clr;
            }
        

       
    }

}





// media queries 
@media (max-width: 768px) {

    .header__nav {
        position: relative;

        &-items,
        &-items2 {
        display: block;
        top: 100%;
        right: 0;
        background: $accent-clr;
    }
    }
    
}