@import '../../Styles/Variables/Variables';
@import '../../Styles/reset';

.form {
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  input {
    padding: 10px;
    background-color: inherit;
    border: 1px solid $tetiary-clr;
    color: $accent-clr;

    &::placeholder {
      color: $accent-clr;
      font-family: $headerFont;
    }

    &:focus {
      border: none;
    }
  }
}

section {
 background: $primary-clr;

  .page {
    background: $primary-clr;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     padding: 28px 120px;
      gap: 24px;
  
      .button {
        margin: 20px;
      }
  }
}
