@import "../../Styles/Variables/Variables";
@import "../../Styles/reset";

.hero-section {
    background: $primary-clr;
    @include flex;

      .hashtags {
        left: 0;
        @include section-flex($gap: 2rem);
        font-size: 1.2rem;
        rotate: 270deg;
    }

    .section-wrapper {
        flex-basis: 100%;
        @include flex;
        gap: 10rem;
        padding: 4rem;
        
        .hero__text {
            flex: 1 1 42rem;
       

        &-header {
          
            padding-bottom: 0.2rem;
            color: $white-clr;
        }

        &-bigHeader {
            
            line-height: 1.4;
            padding: 1.2rem 0;
            max-width: 32rem;
        }

        &-content {
           
            padding: 1.2rem 0;
            margin-bottom: 2rem;
             line-height: 1.2;
            color: $tetiary-clr; 
            max-width: 32rem;
        }
    }

    .img-container{
       flex: 1 1 42rem;
        position: relative;
        z-index: 1;

        &::before{
            content: '';
            position: absolute;
            width: 50%;
            height: 50%;
            right: 23.5%;
            bottom: 53%;
            background: $accent-clr;
            z-index: -1;

        }

        &::after{
            content: '';
            position: absolute;
            width: 50%;
            height: 50%;
            top: 53%;
            left: 1%;
            background: $accent-clr;
            z-index: -1;
        }
      

        img {
             width: 28vw;
             height: 28vw;
             z-index: 1;
        }

          span {
            position: absolute;
                bottom: -13%;
                left: -5%;
            }
    }
    }
    
    .scroll {
            @include flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            column-gap: 10px;
           top: 88%;
           right:10%;
    }
}

// @media (max-width: 778px) {

//     .section-wrapper{
//         flex-direction: column-reverse;
//     }
    
// }